<p class="sprints_title">Editing Sprint</p>

<%= render 'form' %>

<div class="sprint_link">
	<%= link_to 'Show', @sprint %>
</div>
<div class="sprint_link">
	<%= link_to 'Back', sprints_path %>
</div>