// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.issues_c
  font-family: serif
  background: #E0FFFF
  min-height: 200px
  margin-top: 15px
  border-radius: 15px
  padding: 20px

  hr
    border-top: 1px solid #7A8B8B

.one_issue
  background: #FFE4B5
  min-height: 30px
  margin-top: 10px
  border-radius: 15px
  padding: 10px
  z-index: 5

  .remove
    height: 2em
    width: 2em
    background: #E0FFFF
    border-radius: 40%
    padding: 5px
    float: right
    margin-top: -9em
    border: 1px inset #7A8B8B
    box-shadow: 0 0 10px #7A8B8B
    text-align: center
    font-size: 1em

  .button_to
    font-size: 1em


.logout
  .out
    float: right
    background: black
    color: white
    border: none
    box-shadow: none
    font: bold

.edit_spint
  font-family: serif
  min-height: 10px
  background-color: #E0FFFF
  border-radius: 5px
  box-shadow: 0 0 10px #7A8B8B
  border: 1px outset #7A8B8B
  margin: 25px
  padding: 5px
  text-align: center

.close_sprint
  margin-top: 20px

.progress-bar
  height: 15px

.progress
  margin: 0 20px
  position: relative

  .stats
    width: 100%
    color: black
    position: absolute

.translation_missing
  font-weight: bold

.New
  background: #C1CDC1

.Progress
  background: #9FB6CD

.Resolved
  background: #EEEED1

.Feedback
  background: #FFF68F

.Closed
  background: #B5B5B5

.Rejected
  background: #8B7B8B

